

/* *************** HEADER**************** */
header {
    text-align: center;
    height:100vh;
    background: url(media/header.jpg) no-repeat fixed;
    background-size: cover;
}
h1 {
    padding: 140px 0 20px 0;
    font-size: 5em;
    text-transform: uppercase;
}
.line {
    height: 1px;
    background-color: grey;
    width: 500px;
    margin: 0 auto;
}
h2 {
    padding: 30px 0 80px 0;
    font-size: 3.3em;
    text-transform: uppercase;
}
.infos {
    border: 1px solid grey;
}
.typed {
    font-size: 1.2em;
}
header .button {
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 80px;
    border: 1px solid grey;
    width: 300px;
}
.navbar {
    background-color: #FAFAFA;
    border-bottom: 1px solid grey;
    opacity: 0.9;

}
/* ******************** SKILLS ********************* */
.containerBis {
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.8));
    margin: 0 !important;
}
.languages {
    position: relative;
    padding: 50px;
    margin: 150px 50px 0 40px;
    height: 500px;
    width: 45%;
    max-width: 600px;
    background: rgba(252,234,187,1);
    background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,0.99) 3%, rgba(251,218,129,0.75) 74%, rgba(251,223,147,0.75) 99%);
    clip-path: polygon(3% 10%, 97% 5%, 93% 97%, 3% 88%);

}
.formation {
    float: right;
    position: relative;
    margin: -50px 30px 200px 0;
    padding: 15px 0 0 65px; 
    height: 500px;
    width: 700px;
    background: linear-gradient(to bottom, rgba(229,112,231,1) 23%,rgba(200,94,199,1) 71%,rgba(168,73,163,1) 100%);
    clip-path: polygon(5% 0, 100% 5%, 100% 89%, 0% 100%);
}
.otherSkills {
    margin: 550px 50px 200px 50px !important;
    height: 500px;
    width: 60%;
    background: green;
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 91%);
}


/* ****************PORTFOLIO + HOBBIES ***************** */

.transition {
    height: 270px;
    margin: -60px 0 -350px 0;
    background: url(./media/footer.jpg) no-repeat fixed;
    background-size: cover;
    z-index: 1000;
}

.hoobies {
    padding: 400px 50px 350px 50px;
    clip-path: polygon(0 21%, 100% 31%, 100% 95%, 0% 100%);
    background-color: yellow;
}
.pictures {
    display: flex;
    justify-content: center;
}
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
.flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }


/* **************** FOOTER ******************* */
footer {
    background: url(media/footer.jpg) 50% 0% no-repeat fixed  ;
    background-size: cover;
    text-align: center;
    height: 1050px;
    margin-top: 150px;
    padding: 150px 50px;
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    margin-top: -100px;
}
footer h3 {
    padding: 100px 0 80px 0;
}
footer a {
    font-size: 4em;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 30px 45px;
}
#contact {
    padding-top: 100px;
}
.arrow-div {
    padding: 20px;
}
.arrow {
    height: 50px;
    width: 50px;
    background-color: black;
    margin: 0 auto;
    clip-path: polygon(0 61%, 50% 29%, 100% 61%, 100% 78%, 50% 55%, 0 78%);
}
.arrow-div:hover .arrow {
    transform: scale(1.2);
    color: white;
    transition: 0.3s;
}
footer p {
    padding-top: 40px;
}