@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    color: #323232;
    font-family: 'Rambla', sans-serif;
}
h2, h3 {
    font-family: 'Audiowide', sans-serif;
}


/* *************** HEADER**************** */
header {
    text-align: center;
    height:100vh;
    background: url(media/header.jpg) no-repeat fixed;
    background-size: cover;
}
h1 {
    padding: 140px 0 20px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em;
    text-transform: uppercase;

    animation: titleanim ease-out 0.25s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes titleanim{
    0% {
    transform:  translate(1px,-97px)  ;
    }
    100% {
    transform:  translate(0px,0px)  ;
    }
}

.line {
    height: 1px;
    background-color: #b3aca7;
    width: 500px;
    margin: 0 auto;

    animation: lineAnim ease-in 0.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes lineAnim{
    0% {

    transform:  translate(-292px,-1px)  ;
    }
    67% {
    transform:  translate(105px,1px)  ;
    }
    100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
    }
}
h2 {
    padding: 30px 0 80px 0;
    font-size: 3.3em;
    text-transform: uppercase;

    animation: subtitle ease-in 0.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes subtitle{
    0% {
    transform:  translate(1px,49px)  ;
    }
    100% {
    transform:  translate(0px,0px)  ;
    }
}

.infos {
    border: 1px solid #b3aca7;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.infos h5 {
    padding: 30px 0;
}
.photo {
    border: 1px solid #b3aca7;
    height: 300px;
    position:relative;
}
.photo img {
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

.typed {
    font-size: 1.1em;
    height: 300px;
}
header .button {
    margin-top: 60px;
}
header .button a {
    padding: 20px 80px;
    border: 1px solid #b3aca7;
    width: 300px;
}
header .button:hover a {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
    text-decoration:none;
}
button a {
    color: inherit;
}
.navbar {
    background-color: #FAFAFA;
    border-bottom: 1px solid #b3aca7;
    opacity: 0.9;

}
/* ******************** SKILLS ********************* */
.langages {
    position: relative;
    padding: 70px 50px;
    margin: 220px 50px 0 40px;
    height: 580px;
    width: 45%;
    max-width: 600px;
    background: rgba(252,234,187,1);
    background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,0.99) 3%, rgba(251,218,129,0.75) 74%, rgba(251,223,147,0.75) 99%);
    clip-path: polygon(3% 10%, 97% 5%, 93% 97%, 3% 88%);
}
.langages .bar {
    padding-top: 10px;
}
.formation {
    float: right;
    position: relative;
    margin: 250px 0 -400px 0px;
    padding: 70px 0 0 25px; 
    height: 570px;
    width: 60%;
    background: #e51212;
    background: linear-gradient(239deg,#e51212 0%, rgba(238,211,44,0.17) 100%);
    clip-path: polygon(0 11%, 100% 0%, 100% 100%, 0 96%);
}
.formation h4 {
    font-weight: bold;
    margin-left: 30px;
    padding-top: 20px;
}
.formation ul {
    list-style-type: square;
    margin-left: 60px;
}

/* ****************PORTFOLIO + HOBBIES ***************** */
.carousel {
    padding: 250px 0 0 0;
}
.carousel h3 {
    text-align: center;
    font-size: 4em;
    padding-bottom: 25px;
    text-shadow: -1px 2px 0px #FFBB00;
}
.otherSkills {
    margin: 620px 0px 240px 0px !important;
    padding: 50px 100px;
    height: 750px;
    width: 100%;
    background-color: #375E97;
    clip-path: polygon(0 11%, 100% 0%, 100% 100%, 0 84%);
}
.otherSkills h3 {
    transform: rotate(-4.4deg);
    font-size: 3em;
    text-shadow: -1px 1px 0px maroon;
}
.wordCloud {
    text-align: center;
    padding: 50px 0px;
    font-size: 2em;
}
.hobbies {
    padding: 200px 50px 150px 50px;
    margin: 550px 0 -1750px 0;
    clip-path: polygon(0 21%, 100% 31%, 100% 95%, 0% 100%);
    background-color: #FFBB00;
}
.hobbies h3 {
    transform: rotate(4.2deg);
    font-size: 3em;
    text-shadow: -1px 1px 0px #375E97;
}
.pictures {
    display: flex;
    justify-content: center;
}
.flip-box {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 300px;
    perspective: 1000px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-box-back {
    color: white;
    transform: rotateY(180deg);
}
.flip-box-back div {
    margin: 0 auto;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.flip-box-back p {
    text-transform: uppercase;
    padding: 10px;
    font-size-adjust: auto;

}

/* **************** FOOTER ******************* */
footer {
    background: url(media/footer.jpg) 50% 0% no-repeat fixed;
    background-size: cover;
    text-align: center;
    height: 1100px;
    padding: 150px 50px;
}
footer h3 {
    padding: 100px 0 80px 0;
    font-size: 3em;
}
.network {
    font-size: 4em;
    border: 1px solid #b3aca7;
    border-radius: 50%;
    padding: 30px 45px;
    color: #726659;
    z-index: -1 !important;
}
#contact {
    padding-top: 100px;
}
#form {
    position: relative;
    width: 300px;
    margin: 50px 0 100px 0;
    }
input {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    }
textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
}
.network:hover, textarea:hover, input:hover, #submit:hover {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
    }
input::placeholder, textarea::placeholder, input:focus::placeholder, textarea:focus::placeholder {
    color: #aca49c;
    }
input:hover::placeholder,textarea:hover::placeholder, input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #e2dedb;
    }
#submit {
    background: transparent;
    border: solid 1px #b3aca7;
    padding: 20px 55px;
    margin-top: 20px;
}

.arrow {
    width: 50px;
    margin: 0 auto;
    padding-top: 65px;

    animation: arrow linear 1.5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
@keyframes arrow{
    0% {
    transform:  translate(0px,0px)  ;
    }
    38% {
    transform:  translate(01px,8px)  ;
    }
    100% {
    transform:  translate(0px,0px)  ;
    }
}
.arrow a {
    font-size: 3em;
    border: none;
    color: #726659;
}
.arrow:hover i {
    transform: scale(1.6);
    transition: 0.5s ease-in-out;
    color: #726659;
}